{% if info %}
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-check-circle-fill fs-5"></i> <strong>{{info}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif error %}
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-exclamation-diamond-fill fs-5"></i> <strong>ERROR! </strong>{{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif primary %}
    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
        <i class="bi bi-database-fill-up fs-5"></i> <strong>{{primary}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{% if valores %}
    <div class="alert alert-info" role="alert">
        {% for key,valor in valores %}
            {{key}}: {{valor}}<br>
        {% endfor %}
    </div>
{% endif %}
<div class="mx-auto text-center">
    <i class="text-center bi-tags" style="font-size: 5rem;"></i>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>Cadastro de Categoria</p>
        </blockquote>
    </figure>
</div>
<div>
    
</div>
<form class="" action="{{action}}" enctype="multipart/form-data" method="post" name="{{nameForm}}" width="100%" id="{{idForm}}">
    <div class="form-floating mb-3">
        <input type="text" class="form-control bg-body-tertiary" name="id" id="autoSizingInputGroup" value="{{id}}" placeholder="#" readonly>
        <label for="floatingInput">ID</label>
    </div>    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Nome da Categoria" name="nome" value="{{nome}}">
        <label for="floatingInput">Nome da Categoria</label>
    </div>
    <button type="submit" form="{{idForm}}" value="Submit" class="text-center btn btn-primary">Enviar</button>
    <button name="limpar" type="button" onclick="{{clear}}" class="text-center btn btn-warning">Limpar</button>
</form>